@media(max-width: 768px) {
    /* Overwrite stylings from style.css */
    #navbar {
        background-color: rgba(0,0,0,0);
    }

    #navbar ul {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #navbar li {
        display: block;
        padding: none;
        width: 100%;
        border-bottom: 1px solid #999;
    }

    #navbar li:last-child {
        border-bottom: none;
    }

    #navbar li:hover {
        cursor: pointer;
    }
    
    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        border: none;
        padding: 0;
        line-height: 20px;
        margin: 0;
    }

    #navbar a:hover {
        background: #383E4C;
    }
    
    .menu-wrap {
        position: relative;
        float: right;
        border-radius: 4px;
        padding: 2.5rem;
        margin: 1rem;
        z-index: 1;
    }

    /* style drop down menu  */
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        margin-top: 60px;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        background: #383E4C;
        width: 95%;
    }

    .menu-wrap .menu > div > div {
        display: flex;
        text-align: center;
        width: 100%;
        max-height: 100vh;
        opacity: 0;
        transition: all 0.4s ease;
    }

    /* Hamburger menu */
    .menu-wrap .toggler {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 40px;
        height: 35px;
        padding: 1rem;
        background: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }

    /* Hamburger line */
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        align-items: center; 
        justify-content: center;
        transition: all 0.4s ease;
        border-radius: 5px;
    }

    /* Top and bottom lines */
    .menu-wrap .hamburger > div:before, 
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -6px;
        width: 100%;
        height: 2px;
        background: inherit;
        padding: 0;
        border-radius: 5px;
    }

    /* Moves bottom line down */
    .menu-wrap .hamburger > div:after {
        top: 6px;
    }

    /* show menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }

    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    } 
}