
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
    margin: 0;
    display: block;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 78vh;
    background-image: url('../img/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 235px;
}

/* Navbar */
#navbar {
    background-color: #383E4C;
    border-color: #383E4C;
    position: fixed;
    min-height: 50px;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid transparent;
    z-index: 999;
}

#navbar ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#navbar li {
    display: inline-block;
    padding: 1.6rem .8rem;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    border: 1px solid #646d7c;
    padding: 15px 25px;
    line-height: 20px;
    margin: 10px 0;
}

#navbar a:hover {
    background: #49505F;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Top Showcase */
.showcase-content {
    color: #fff;
    text-align: center;
}

.showcase-content h1 {
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    margin-bottom: 0;
}

.showcase-content h3 {
    font-size: 2rem;
    text-shadow: 1px 1px #000;
    margin-top: 0;
}

/* Feature Area */

#feature-area {
    border: 3px solid black;
    width: 100%;
}

#feature-area .feature-area-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#feature-area .col-sm {
    border: 1px solid black;
}

/* Global */

/* Container */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/* Showcases */
.showcase {
    position: relative;
}